client-talk {
	display: block;
}
scroll-gallery {
	display: block;
}

client-talk header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
client-talk .client-icon {
	max-width: 20px;
}

client-talk .client-photo {
	max-width: 20px;
}

client-talk li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@media (min-width: 600px) {
	client-talk ul {
		display: flex;
		flex-direction: row;
	}
}