.hero {
	display: block;
	background-image: url('../../assets/default.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



.hero p{
	margin-top: 10px;
}

.hero hero button-box {
	display: block;
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 30px;
}

.hero input{
	display: none;
}

.hero button-box .signup {
	display: none;
}

.hero button-box .get-started {
	background-color: var(--highlight);
	padding: 10px;
	color: white;
}

.hero button-box .trial {
	background-color: white;
	padding: 10px;
}

@media(min-width: 600px) {

	.hero{
		height: 65vh;
	}
	.hero hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px;
		
	}

	.hero hero p {
		text-align: center;
	}

	.hero hero button-box {
		display: block;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 20px;
	}

}

/*wavy page*/

.hero.wavy-hero {
	display: block;
	background-image: url('../../assets/wavy.png');
	background-position: bottom;

}

.hero.wavy-hero .trial {
	display: none;
}



/*Color page*/
.hero.color-hero {
	display: block;
	background-image: url('../../assets/color.png');
	background-position: bottom;
	color: white;
}
/*old way*/
/*.hero.color-hero .trial, .hero.color-hero .get-started {
	display: none;
}*/
/*better way to group*/
.hero.color-hero :is(.trial, .get-started) {
	display: none;
}

.hero.color-hero input {
	display: block;
}

.hero.color-hero .signup {
	display: block;
	background-color: white;
	color: var(--highlight);
	padding: 10px;
}



.hero.color-hero hero button-box {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

}
@media(min-width: 600px) {
	.hero.color-hero hero button-box {
		justify-content: center;
	}
}

	


