
.video video-module {
	display: block;
	padding: 40px 0px 40px 0px;
}

.video video-module iframe {
	width: 100%;
	aspect-ratio: 16/9;
	margin-top: 60px;

}

.video .icon-top{
	display: none;
}

.video ul{
	display: none;
}

.video button-control {
	display: none;
	margin-top: 30px;
}

.video bottom-text-content {
	display: none;
}

@media (min-width: 600px) {
	.video video-module {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 80px 0px 80px 0px;
	}

	.video button-control {
		display: none;
		margin-top: 50px;
	}


}

/*Wavy page*/
.video.wavy-video .optional-p {
	margin-top: 10px;
}

.video.wavy-video .video-iframe {
	display: none;
}

.video.wavy-video .see-link {
	display: none;
}

.video.wavy-video button-control{
	display: block;
} 

.video.wavy-video .learn-link{
	color: var(--highlight);
}

.video.wavy-video .icon-top {
	display: block;
	max-width: 30px;

}

.video.wavy-video bottom-text-content{
	display: block;
	margin-top: 40px;
}

@media (min-width: 600px) {
	.video.wavy-video bottom-text-content{
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

}


/*Color page*/

.video.color-video .default-p{
	display: none;
}

.video.color-video .video-iframe {
	display: none;
}

.video.color-video .learn-link {
	display: none;
}

.video.color-video ul {
	display: block;
	margin-top: 30px;
}

.video.color-video list-area li {
	margin-top: 10px;
}

.video.color-video button-control {
	display: block;
	color: var(--highlight);
}

@media (min-width: 600px) {
	.video.color-video list-area {
		display: flex;
		flex-direction: row;
		gap: 20px;

	}

	.video.color-video ul {
		display: block;
		margin-top: 60px;
	}

	.video.color-video list-area li {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;


	}
}


