
questions-container {
	display: block;
	
}

questions-dropdown {
	display: block;

}

.questions li {
	border-bottom: solid 1px dimgray;
}
.questions questions-dropdown .icon{
	max-width: 20px;
}

.questions .frequently-asked{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.questions questions-container .question-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;

}

.questions questions-container li {
	display: flex;
	flex-direction: column;
}

.questions questions-container .question-title {
	display: flex;
	flex-direction: row;
}

/*Wavy page*/

.questions.wavy-questions .question-title {
	display: flex;
	
	justify-content: space-between;
}

.questions.wavy-questions questions-dropdown p {
	border-left: solid 2px var(--highlight);
	margin-left: 40px;
}

/*Color page*/
.questions.color-questions .frequently-asked {
	align-items: flex-start;
	text-align: left;
}

@media (min-width: 600px) {
	.questions.color-questions questions-container {
		display: grid;
		grid-template-areas: 
			".	list"
			"title	list"
			".	list"
		;
	}

	.questions.color-questions .frequently-asked {
		grid-area: title;
	}

	.questions.color-questions questions-dropdown {
		grid-area: list;
	}

}
