.questions {

}

questions-container {
	display: block;
	
}

questions-dropdown {
	display: block;

}

questions-dropdown .icon{
	max-width: 20px;
}

questions-container header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

questions-container li {
	display: flex;
	flex-direction: column;
}

questions-container .question-title {
	display: flex;
	flex-direction: row;
}